body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  form {
    width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .form-control-file {
    width: 100%;
  }
  
  img {
    width: 500px;
  }
  
  .imagen-preview {
    width: 100px;
    margin-top: 10px;
    border: 1px solid #ccc;
  }
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    form {
      width: 100%;
    }
  
    .form-group {
      margin-bottom: 5px;
    }
  
    .form-control {
      width: 100%;
      padding: 7px;
    }
  
    .form-control-file {
      width: 100%;
    }
  
    img {
      width: 100%;
    }
  
    .imagen-preview {
      width: 100%;
      margin-top: 0;
    }
  }
  .gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }